{% comment %} product-card {% endcomment %}

{% liquid 
  if add_collection_url
    assign product_url = product.url | within: collection
  else 
    assign product_url = product.url
  endif
%}

<div class="product-card group relative">
  <a href="{{ product_url }}" class="group">
    <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden">
      {% assign classList = "w-full h-full object-center object-cover" %}
      {% if product.featured_image != blank %}
        {{ product.featured_image | image_url: width: 500, format: 'pjpg' | image_tag: alt: product.title, class: classList }}
      {% else %}
        {{ 'product-2' | placeholder_svg_tag: classList }}
      {% endif %}
    </div>
    <h3 class="mt-4 text-sm text-gray-700">{{ product.title }}</h3>
    <p class="mt-1 text-lg font-medium text-gray-900">
      {{ product.price | money_with_currency }}
    </p>
  </a>
</div>